$appConfig-cell-color: #333;
$appConfig-noedit-cell-color: #7D7D7D;
$appConfig-divider: #BFBFBF;
$appConfig-section-header-color: #055D78;
$appConfig-title-color: #333;
$appConfig-description-color: gray;
$appConfig-error-color: red;
$appConfig-help-color: gray;
$appConfig-menu-item-color: #A7A8AB;

$appConfig-cell-background-active: #E5E5E5;
$appConfig-cell-border-hover: #BFBFBF;

