.stack {
  border: 1px solid black;
  padding: 5px;       
  overflow:auto;
  height: 300px;
}
.snippet {
  padding: 5px;
  background-color:white;
  border:1px solid black;
  margin:3px;
  font-family:courier;
}