* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;

    color: $text-color;
}

ul, ol {
    > li {
        list-style-type: none;
        margin-left: 0;
    }
}

a, button, input {
    outline: 0;
}

textarea, input {
    font-family: inherit;
}

td {
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
