@charset "UTF-8";

@import 'functions/marketplace_functions';
@import 'compass'; //pull in base functions and mixins provided by the compass framework

/*
 * This variable is required.  It must be equal to the name property in the
 * theme.json file
 */
$theme-name: 'cobalt';

/*****************************************************************
 * Put yor theme customizations here.  If you have many customizations,
 * you may want to put them in a separate file which you import here.
 * The import statements in this file reference stylesheets
 * from the themes/common folder. You can look at
 * themes/common/stylesheets/variables/-defaults in order to see what variables
 * may be changed.
 */

/*
* linear background gradient for IE
*/

// ===============================
// =============== Theme Variables
// ===============================
$mp-gold: #FCBB1B;
$mp-dkgray: #4d4d4d;
$mp-ltgray: #A7A8AB;
$mp-blue: #055d78;
$mp-ltblue: #3A839A;
$mp-medgray: #7d7e80;
$mp-green: #8DC53E;

$sas-text-color: #E5E5E5;
$sas-text-color-hover: #E5E5E5;
$sas-title-text-color: #E5E5E5;
$sas-title-text-color-hover: #F2F2F2;
$sas-line-color: #4671ba;
$sas-see-all-color: #FFF;
$sas-see-all-color-hover: #F2F2F2;
$sas-read-more-color: #ADCFFF;
$sas-read-more-color-hover: #C8DDFC;

// Just for cobalt - read more colors are different in carousel
$mp-read-more-carousel-color: #C8DDFC;
$mp-read-more-carousel-color-hover: #FFFFFF;

$mp-color: #FFF;

$heading-color: #81B3FF;
$mp-base-color: #1f3256;
$mp-alt-base-color: #AAA;
$content-area-background-color: #222;
$meta-info-color: #BFBFBF;
$affiliated-mp-title-color: #FCBB1B;
$recent-activity-divider-color: #FCBB1B;
$mp-toolbar-base-color: #313131;
$file-import-file-browser-background-color: #212121 !default;

$mp-tip-base-color: #e7eaef;
$mp-tip-body-color: #0d182c;

$warning-color: #ffa200;

$link-color: #77a7ef !default;
$link-over-color: #ADCFFF;


// theme selector
$theme-screenshots-fieldset-border-color: #555;

//$mp-window-background-color: #212121;


$mp-font-size: 12px;
$mp-tool-width: 17px;


$mp-head1-font-size: 24px;
$mp-head1-line-height: 32px;

$mp-head2-font-size: 20px;
$mp-head2-line-height: 26px;

$mp-title-font-size: 20px;

/*
 * The font family of most of the interface
 */
$mp-font-family: Verdana, Helvetica, Arial, sans-serif !default;


//-----------------

$scheduled-import-window-description-background-color: #313131 !default;
//$scheduled-import-window-description-background-color: $mp-toolbar-base-color !default;

$scheduled-import-window-description-color: $sas-text-color !default;

// -------------

$mp-window-background-color: #212121;

$profile-page-contribution-count-color: #aaa;


//-- header -----------------------------------------------------------
$search-controls-background: none;
$user-menu-button-theme: (
    null,          // background
    #e5e5e5,       // text
    null           // border
) !default;

$user-menu-over-button-theme: (
    #212121,
    #81B3FF,
    null
);
$user-menu-over-button-radius: 1px;

$system-window-background-color: #a7abab;


//-- sidebar ----------------------------------------------------------
$mp-sidebar-background-color: #ddd;

$mp-filter-heading-color: $mp-dkgray;
$mp-filter-dividier-color: $mp-ltgray;
$mp-filter-type-heading-color: $mp-dkgray;

$mp-filter-item-color: $mp-dkgray;
$mp-filter-item-over-color: #111;
$mp-filter-item-selected-color: $mp-blue;

$mp-filter-item-count-color: $mp-medgray;
$affiliated-mp-sell-all-color: #c8ddfc;
$affiliated-mp-sell-all-over-color: #ffffff;

$listing-manager-background: #858B90;
$listing-manager-color: #25292B;

$footer-background: #263d65;
$footer-over-color: #ccc;

// -- Component Themes ------------------------------------------------
$active-component-theme: (
    $mp-base-color,    //base color
  (lighten($mp-base-color, 20%), $mp-base-color),   //gradient start/end colors
    $sas-text-color, //text color
    getHighContrastColor($mp-base-color), //outer border color
    getHighContrastColor($mp-base-color)  //body border color
) !default;

// -- Button Themes----------------------------------------------------
$default_button_theme: (
    (#9CA8BA 0%, #C4CBD6 45%, #9CA8BA 50%),  // GRADIENT START - END
#0D182C,                                    // TEXT COLOR
#4C5C7D                                      // BORDER COLOR
);

$over_button_theme: (
    (#C4CBD6 0%, #D7DCE3  45%, #C4CBD6 50%),
#0D182C,                                    // TEXT COLOR
#4C5C7D
);

$pressed_button_theme: (
    (#C4CBD6 0%, #C4CBD6 100%),
#0D182C,                                    // TEXT COLOR
#31476E
);

$disabled_button_theme: (
    (#9298A0),
#656E77,
#656E77
);

// -- toolbar themes ----------------------------------------------------

$mp-toolbar-color: $sas-text-color;
$mp-custom-toolbar-base-color: #070C16;
$mp-custom-toolbar-color: $sas-text-color;
$mp-custom-border-color: #212121;
$mp-custom-toolbar-border: 1px solid $mp-custom-border-color;



// -- action menu--------------------------------------------------------------
$action-menu-background: (#0A1221, #0A1221);
$action-menu-box-shadow-color: #222;
$action-menu-border: 1px solid #000;

$action-menu-item-over-background: #0D182C;
$action-menu-item-color: #e5e5e5;
$action-menu-item-over-color: #81B3FF;


// -- tabs -------------------------------------------------------------
$mp-tab-base-color: #333;
$mp-tab-color: #ccc;

$mp-tab-color-over: #fff;

$mp-tab-base-color-active: #444;
$mp-tab-color-active: #f2f2f2;

// -- form styles -------------------------------------------------------------
$mp-fieldset-header-color: $mp-gold;

$selectable-item-selected-background-color: #bbb;
$selectable-item-selected-border-color: #ccc;

$mp-form-field-empty-color: #aaa;
$mp-form-field-border-color: #888;
$mp-form-field-background-color: #1F3256;
$mp-form-field-color: #f2f2f2;
$mp-form-field-focus-border-color: $mp-gold;
$mp-form-field-invalid-background-color: #222;
$mp-form-field-invalid-border-color: $warning-color;
$mp-form-trigger-border-bottom-color: $mp-form-field-border-color;
$mp-form-trigger-border-bottom-color-over: $mp-form-field-focus-border-color;
$mp-form-trigger-border-bottom-color-focus: $mp-form-field-border-color;
$mp-form-trigger-border-bottom-color-focus-over: $mp-form-field-focus-border-color;
$mp-form-trigger-border-bottom-color-pressed: #c76e12;

// -- grid -----------------------------------------------------------
$mp-grid-header-background-color: #212121;
$mp-grid-header-over-background-color: #000;
$mp-grid-header-color: #f2f2f2;

//grid rows
$mp-grid-row-wrap-border-color: #101010;

$mp-grid-row-cell-color: #f2f2f2;

$mp-grid-row-cell-background: #313131;
$mp-grid-row-cell-alt-background: #313131;
$mp-grid-row-cell-over-background-color: #313131;
$mp-grid-row-cell-selected-background-color: #4d4d4d;
$mp-grid-row-cell-focus-background-color: #313131;


// -- dropdown---------------------------------------------------------
$mp-boundlist-background-color: $mp-grid-row-cell-background;
$mp-boundlist-border-color: #272727;
$mp-boundlist-item-over-border-color: #4D4D4D;
$mp-boundlist-item-selected-border-color: #212121;
$mp-boundlist-item-over-background-color: #4D4D4D;
$mp-boundlist-item-selected-background-color: $mp-grid-row-cell-selected-background-color;
$mp-boundlist-item-color: #E5E5E5 !default;
$mp-top-border-radius: 0px;
$mp-bottom-border-radius: 0px;

// -- date picker ---------------------------------------------------------------
$mp-datepicker-border-color: #666;
$mp-datepicker-header-background-color: #202020;
$mp-datepicker-th-background-color: #888;
$mp-datepicker-item-border-color: $mp-datepicker-th-background-color;
$mp-datepicker-selected-item-background-color: $mp-datepicker-th-background-color;
$mp-datepicker-selected-item-border-color: white;
$mp-datepicker-item-hover-background-color: $mp-datepicker-th-background-color;

$selectable-item-selected-background-color: #aaa;
$selectable-item-over-border-color: #dddddd;
$selectable-item-selected-border-color: #999;

// -- Datepicker --

$mp-datepicker-border-color: #81b3ff;
$mp-datepicker-header-background-color: #0d182c;
$mp-datepicker-th-background-color: #4872bb;
$mp-datepicker-item-hover-background-color: #4872bb;
$mp-datepicker-selected-item-background-color: #4872bb;
$mp-datepicker-item-prev-next-date-color: #adcfff;

//-------------------------
// FontAwesome Star Colors
//-------------------------

$star-color:          #ffce56 !default;
$star-empty-color:    #727788 !default;

//-----------------------------
// END FontAwesome Star Colors
//-----------------------------


//-------------------------
// TAGS
//-------------------------

$tag-color-background:                  #3B5C8E !default;
$tag-color-corners-background:          #1f3256 !default;
$tag-color-text-hover:                  #0D182C !default;
$tag-color-background-hover:            #B7D313 !default;
$tag-remove-color:                      #5C6814 !default;
$tag-list-item-color:                   #77a7ef !default;
$tag-view-icon-hover:                   #B7D313 !default;

//-------------------------
// END TAGS
//-------------------------



// ---- BOOTSTRAP OVERRIDES -------
// --------------------------------

// Add all overrides to common/stylesheets/bootstrap/_variables.scss here **

// Buttons
// -------------------------

$btn-default-border:                         #004155;  //#ccc !default;

$btn-primary-bg:              #0A5E78;  //$link-color !default;ground, 20%) !default;

// Sprite icons path
// -------------------------
$iconSpritePath:          theme-image($theme-name,"glyphicons-halflings.png");
$iconWhiteSpritePath:     theme-image($theme-name,"glyphicons-halflings-white.png") ;




body {
  min-width: 768px;
}
//MARKETPLACE VARIABLES
@import 'variables/constants';
@import 'variables/defaults';

/*
 * Body background color & image
 */
$mp-body-page-background-image: theme-image($theme-name, 'body_bkg.jpg');
$body-background-gradient-start: #212121;
$body-background-gradient-end: #4d4d4d;

$mp-body-background-default-color: #E2E2E2;

$footer-background: #212121;

$mp-read-more-color: $sas-read-more-color;
$mp-read-more-color-hover: $sas-read-more-color-hover;

$mp-border-color: $sas-line-color;

$intents-header-background-color:  #35558c;


//$message-box-body-color: #272727 !default;
//$message-box-text-color: $sas-text-color !default;

// ============================
// Application configuration overrides
// ============================

$appConfig-cell-color: #BFBFBF;
$appConfig-noedit-cell-color: #7D7D7D;
$appConfig-section-header-color: #77a7ef;
$appConfig-divider: #BFBFBF;
$appConfig-title-color: #F2F2F2;
$appConfig-description-color: #BFBFBF;
$appConfig-menu-item-color: #A7A8AB;
$appConfig-help-color: #4872BB;
$appConfig-description-color: #A7A8AB;

$appConfig-cell-background-active: #4D4D4D;
$appConfig-cell-border-hover: #BFBFBF;


// -- listing block ----------------------------------------------------------
$mp-author-text-color: #949494;
$mp-author-over-text-color: lighten($mp-author-text-color, 10%);

$limited-text-area-maxlabel-color: #888;


//-- scorecard
$mp-sc-header-background-color: transparent;

$sc-text-color: #f2f2f2;
$sc-question-color: #ffffff;
$sc-description-color: #C4CAD5;
$sc-header-color: #fff;
$sc-header-description-color: #cdcdcd;

$sc-weight-label-text-color: #81B3FF;
$sc-admin-question-text-color: #FFFFFF;
$sc-admin-description-text-color: #C4CAD5;
$sc-admin-add-question-text-color: #BBD713;
$sc-admin-equalize-button-background-color: $sc-admin-add-question-text-color;
$sc-admin-equalize-button-text-color: #000000;

$mp-sc-badge-satisfied-color: #FCBB1B;
$mp-sc-badge-notsatisfied-color: #787878;
$mp-sc-header-background-color: #202020;
$mp-sc-background-color: #24282b;
$mp-sc-border-color: #999;

$mp-sc-grid-header-background-color: #202020;
$mp-sc-grid-header-over-background-color: #202020;
$mp-sc-grid-header-color: #fff;
$mp-sc-grid-header-border-color: #999;
$mp-sc-grid-header-over-border-color: #999;
$mp-sc-grid-row-cell-border-color: #2F4F7F;
$mp-sc-grid-row-wrap-border-color: #000;
$mp-sc-grid-row-cell-color: #fff;
$mp-sc-grid-row-cell-background: #24282b;
$mp-sc-grid-row-cell-alt-background: #24282b;
$mp-sc-grid-row-cell-over-background-color: #24282b;
$mp-sc-grid-row-cell-selected-background-color: #24282b;
$mp-sc-grid-row-cell-focus-background-color: #24282b;

$sc-admin-scorecard-item-hover-bkgnd: #4D4D4D;
$sc-admin-scorecard-item-hover-color: #BFBFBF;

$mp-rating-progress-bar-background-color: #FDDE86;

// =======================================
//  ================= MenuBar ===========

// Changelog ------------------------------
$change-item-color: $sas-text-color;
$change-original-color: #FDDE86;
$change-new-color: #FCBB1B;


// Media ----------------------------------
$media-tabs-color:  #81b3ff;
$media-tabs-color-inactive: #c4cad5;
$media-tabs-color-inactive-hover: #9ca8ba;



$mp-display-more-color: #BFBFBF;
$mp-display-more-color-hover: #F2F2F2 !important;


//-- Sorting and paging
$mp-search-results-label-color: #a7a8ab;


$mp-agency-text-color: #FFFFFF;
$mp-score-text-color: #FFFFFF;


$carousel-heading-color: #D7DCE3;
$carousel-color: #E5E5E5;
$carousel-link-color: #E5E5E5;
$carousel-link-color-hover: #F2F2F2;
$carousel-link-color-visited: #E5E5E5;
$carousel-link-color-active: #F2F2F2;


// About, create listing modals
$about-window-mask-background: #555;
//$modal-button-text-color: #E5E5E5;

/*
* These imports create the marketplace-specific stylesheets, based on the values of the
* variables that are defined in variables/defaults (which can be overridden in this
* file).If extensive changes are required, you can delete some of these imports and
* reimplement them as necessary
*/
//MARKETPLACE STYLESHEETS
@import 'marketplace_all';


// ===============================
// ======= Background ============





.widget-marketContentWrapper-wleftbar {
  width: 1000px!important;
}

// ---------------------------------

.successText{
  color: #8DC53E!important;
}

#widget_header, #header {
  background-image: theme-image($theme-name, 'header_bkg.jpg');
  background-repeat: repeat-x;
}

@media (max-width: 939px) {
  html {
   .omp_header_logo {
    position:relative;
    left:5%;
   }
  }
}

#footer {
  background-image: theme-image($theme-name, 'footer.png') !important;
  background-repeat: repeat-x;
  background-color: transparent;

  width: 100%;
  padding: $footer-top-bottom-padding 0;
  bottom:0px;
  z-index: 0 ;

  clear:both;


  #footer_content_center {
    width: 1000px;
    margin: 0 auto;
  }

  .widget_footer_text {
    text-align: left;
    font-size: 12px;
    font-weight:normal;
    color:#c8ddfc;
    padding: 0px 0px 6px 3px;
  }

  .widget_footer_featured_subtext {
    font-size: 10px;
    color: #bed8fd;
    padding: 0px 0px 2px 3px;

  }

  .widget_footer_subtext {
    font-size: 10px;
    color: #bed8fd;
    padding: 0px 0px 2px 3px;


    &:hover {
      color: #F5F5F5;
    }

    a {
      padding-left: 0px;
      font-size: 10px;
      color: #bed8fd;
    }

    a:hover {
      color: #F5F5F5;
    };
  }
}

#pending_block {

  .pending_line {
    display: none;
  }
}

#pending_list {
  .message {
    color: $mp-color;
    font-weight:normal;
    font-size: $mp-font-size;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}

#activity_hdr, #listings_hdr, .block_hdr, #pending_hdr {
  font-size:  $mp-head2-font-size;;
  font-weight: normal;
  padding-bottom: 10px;
  color: $heading-color;
}

.item_title {
  font-size: $mp-title-font-size;
  font-weight: normal;
}


td.discover {

  .numRatings_comment_text {
    display: none;
  }

  .rating_total_votes_count {
    top: 0px;
  }
}
.discover_item_title {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

// Search Control override
// TODO - make the color for the search a different variable
// This overrides the default color of the search input field

input.searchField {

  color: $mp-medgray;

}

/*****
 * ITEMS
 *********/



@media (max-width: 939px) {
  html {
    .franchise_discover_see_more_text {
        left: 5%;
        position:relative;
      }
  }
}


/***
*  Activity
*/

.activity_line, .listings_line {
  display: none;
}

/***
* Sidebar
*/
#left-sidebar, #left-sidebar-guide, #filter-container, #filter-window-body {
  background-image: theme-image($theme-name, 'sidebar_bkg.png');
  background-repeat: repeat-y;
}

#left_sidebar {

  .nav_item {

    .category {
      font-size: 13px;
      font-weight: normal;
      color: $mp-dkgray;
    }

  }
}

/***
 * SHADOW DEFINITION
 */

.one-center-edge-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.one-top-edge-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

// Modify the shadow to work on the dark background
.one-edge-shadow {
  -webkit-box-shadow: 0 -2px 12px 5px rgba(10,10,10,0.6);
  -moz-box-shadow: 0 -2px 12px 5px rgba(10,10,10,0.6);
  box-shadow: 0 -2px 12px 5px rgba(10,10,10,0.6);
}


#omp_main_panel {

  .omp_nuggets_wrapper{
    padding-top: 2px;
    padding-bottom: 10px;
    .omp_nuggets {


      .omp-nuggets-text {
        font-size: 11px;
      }


      .query-filter {

        &.omp-nugget-hover {
          .omp-nuggets-text {
            color: #ffffff!important;
          }

          .remove-region {
            .remove-x-icon {
              display:block!important;
            }
          }
        }

        .omp-nuggets-text {
          color: #e7e6e6!important ;
        }
      }
    }
  }
}

.listing_detail_title {
  font-size: 18px;
}

.listing_profile_detail_extra {
  padding-bottom: 16px;
}

.aml_desc {
  padding-bottom: 10px;
}

.listing-actions-legend {
  color: #77a7ef;
}

.omp_status_text {
  padding-left: 5px;
}




//SEARCH AFFILIATED MP HEADER
.search-results-header {
  color: $heading-color;
  font-weight: normal;
  font-size: $mp-head1-font-size;
  line-height: $mp-head1-line-height;

  .search-results-header-text {
    padding-bottom: 12px;
  }
}

.affiliated_marketplace_search_results {

  .affiliated-marketplace-search-panel {
    .affiliated-marketplace-results-panel {
      .affiliated-marketplace-results-body {

        td.remote-listing  {
          .remote-listing-wrapper {
            .remote-listing-title {
              font-size: 18px;
              font-weight: normal;
            }
          }

        }

      }
    }
  }
}

//================= AML redesign =====
//

// Some places a tag is inside a read_more_link div
// Looks like this is just for the carousel
.read_more_link {
  text-align: right;

  a {
    color: $mp-read-more-carousel-color;

    &:hover {
      color: $mp-read-more-carousel-color-hover !important;
    }
  }
}



div.widget_list_item {
    color: $sas-text-color !important;
    .item_title {
      color: $sas-title-text-color !important;
      a {
        color: $sas-title-text-color !important;
      }
      a:hover {
        color: $sas-title-text-color-hover !important;
      }
    }
}



// =====================================

// Cancel button icon
.cancelBtnIcon {
  background-image: theme-image($theme-name, 'icons/x_red_15x15.png');
  margin-left: 1px;
}

.agency-title{
    font-size: 11pt;
    color: #BED8FD
}

.agency-row-edit{
    padding-top:10px;
    padding-bottom:25px;
}

.agency-add-new-link{
    border-radius: 2px;
    background-color: #172641;
    border: 0 none;
    font-family: monospace;
    padding: 2px 5px;
    color: #BED8FD;
    font-size: 1em;
    cursor: pointer;
    margin-left: 5px;
}

.agency-text-input{
    border: 1px solid #0D182C;
    background-color: #7D8BA3;
    padding-left: 3px;
    color: #BED8FD;
}

.admin-text-input{
    border: 1px solid #3B5C8F;
    background-color: #172641;
    padding-left: 3px;
    padding-top: 4px;
    color: #D8E8FE;
}


.admin-text-active-input{
    border: 1px solid #8CC640;
    background-color: #172641;
    padding-left: 3px;
    color: #D8E8FE;
}



.admin-add-new-link{
    border-radius: 2px;
    background-color: #1f3256;
    border: 0 none;
    font-family: monospace;
    padding: 2px 5px;
    color: #ccc;
    font-size: 1em;
    cursor: pointer;
    margin-left: 5px;
}

.admin-add-new-link:hover {
    color: #BED8FD;
    background-color: #81b3ff;
}
