$about-window-background: #222 !default;
$about-window-color: getHighContrastColor($about-window-background) !default;
$about-window-border-radius: 20px !default;
$about-window-opacity: 0.95 !default;

$modal-button-text-color: #000;
