// Color defaults for landing page getting started carousel

$carousel-heading-color: $heading-color;
$carousel-color: #4D4D4D;
$carousel-link-color: #4D4D4D;
$carousel-link-color-hover: #717171;
$carousel-link-color-visited: #4D4D4D;
$carousel-link-color-active: #717171;