<plugin name='audit-trail' version='2.0.2' grailsVersion='1.3.6 &gt; *'>
  <author>Joshua Burnett</author>
  <authorEmail>joshua@greenbill.com</authorEmail>
  <description>provides an annotation and hibernate events to take care of audit trail stamping for your gorm objects</description>
  <documentation>http://grails.org/AuditTrail+Plugin</documentation>
  <type>AuditTrailGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>