#userMenu {
    .dropdown {
        width: 165px;
        float: right;

        .btn {
            background-color: transparent;
            border-width: 0;
            font-weight: 600;

            outline: 0;
        }

    }
    .dropdown-menu {
        border-color: $btn-default-border;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        text-align: left;
        background-color: $input-bg;

        .divider {
            color: $btn-default-border;
            height: 2px;
        }
    }
}
